h1, 
h2, 
h3 {
  font-family: "Azeret Mono", monospace;
}

li {
  font-family: "IBM Plex Mono", monospace;
}

h1 {
  font-size: 4rem;
}

header {
  width: 100%;
  height: 70px;
  background-color: transparent;
  backdrop-filter: blur(4px);
  nav {
    ul {
      padding: 0;
      list-style: none;
      display: flex;
      width: 100%;
      height: 70px;
      justify-content: space-around;
      align-items: center;
    }
  }
}
